<main id="hot-message">
  <nav class="navigator">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="最新资源" name="latestResources">
        <div class="list">
          <template>
            <el-table :data="listLatestDbResource" border style="width: 100%" v-loading="loading1" element-loading-text="数据加载中" slot="empty"
              @row-click="jumpDetailResource">
              <el-table-column label="信息资源名称" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.TABLE_NAME">{{scope.row.TABLE_NAME}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属部门" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.dept_name">{{scope.row.dept_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属目标">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.BELONG_STRUCTURE">{{scope.row.BELONG_STRUCTURE}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="UPDATE_TIME" label="更新时间" width='180'>
                <!-- <template scope="scope">
                  <div class="over_space">
                  <span v-bind:title="scope.row.UPDATE_TIME" >{{scope.row.UPDATE_TIME}}</span>
                  </div>
                </template> -->
              </el-table-column>
            </el-table>
          </template>
        </div>
        <div class="block page">
          <el-pagination @current-change="latestResourcesChange" layout="total, prev, pager, next, jumper" :total=pageTotal>
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="最热资源" name="hottestPolicy">
        <div class="list">
          <template>
            <el-table :data="listHottestResource" border style="width: 100%" v-loading="loading2" element-loading-text="数据加载中" slot="empty"
              @row-click="jumpDetailHotResource">
              <el-table-column label="信息资源名称" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.dataset_name">{{scope.row.dataset_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属部门" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.dept_name">{{scope.row.dept_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属目标">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.classify_structure_name">{{scope.row.classify_structure_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="count" label="查看次数" width='130'>
              </el-table-column>
            </el-table>
          </template>
        </div>
        <div class="block page">
          <el-pagination @current-change="hottestResourcChange" layout="total, prev, pager, next, jumper" :total=pageTotal>
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="最新目录" name="latestCatalog">
        <div class="list">
          <template>
            <el-table :data="listLatestDirectory" border style="width: 100%" v-loading="loading3" element-loading-text="数据加载中" slot="empty"
              @row-click="jumpDetailLatestCatalog">
              <el-table-column label="信息资源名称" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.dataset_name">{{scope.row.dataset_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属部门" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.org_name">{{scope.row.org_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属目录">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.classify_structure_name">{{scope.row.classify_structure_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="update_time" label="更新时间" width='180'>
              </el-table-column>
            </el-table>
          </template>
        </div>
        <div class="block page">
          <el-pagination @current-change="latestDirectoryChange" layout="total, prev, pager, next, jumper" :total="pageTotal">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="最热目录" name="hottestCatalog">
        <div class="list">
          <template>
            <el-table :data="listHottestDirectory" border style="width: 100%" v-loading="loading4" element-loading-text="数据加载中" slot="empty"
              @row-click="jumpDetailHotestCatalog">
              <el-table-column label="信息资源名称" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.classify_name">{{scope.row.classify_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属部门" width="180">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.dep_name">{{scope.row.dep_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="所属目录">
                <template scope="scope">
                  <div class="over_space">
                    <span v-bind:title="scope.row.classify_structure_name">{{scope.row.classify_structure_name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="count" label="点击量" width='130'>
              </el-table-column>
            </el-table>
          </template>
        </div>
        <div class="block page">
          <el-pagination @current-change="hottestCatalogChange" layout="total, prev, pager, next, jumper" :total=pageTotal>
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="最新政策" name="latestPolicy">
        <ul class="latestPolicy" v-loading="loading5" element-loading-text="数据加载中">
          <li v-for="item in listLatestpolicies">
            <router-link :to="'policyDetail/'+item.id">
              <img src="../../../assets/ico/new.png">
              <div class="pull-left" style="width: 89%;">
                <h5 class="dem-head over_space" style="width: 100%" v-bind:title="item.title">{{item.title}}</h5>
                <div class="dem-des">
                  <span v-if="item.publish_date">{{item.publish_date}}</span>
                  <span v-if="item.author_name">作者：<em class="autor">{{item.author_name}}</em></span>
                </div>
              </div>
            </router-link>
          </li>
          <li v-show="dataEmpty">无满足该条件的数据</li>
        </ul>
        <div class="block page">
          <el-pagination @current-change="hotPolicyChange" layout="total, prev, pager, next, jumper" :total=pageTotal>
          </el-pagination>
        </div>
      </el-tab-pane>
    </el-tabs>
  </nav>
  <div class="search">
    <el-input placeholder="请输入" icon="search" v-model='inp_seach' :on-icon-click="searchClick">
    </el-input>
  </div>
</main>
