@import "../common/base.scss";
#dashboard {
  em {
    font-style: normal;
  }
  .article {
    min-height: 400px;
    .title {
      font-size: 18px;
      color: #475065;
      line-height: 20px;
      text-align: center;
    }
    .item_des {
      text-align: center;
      color: #8A93A8;
      margin: 20px 0 30px 0;
    }
  } // @include fill;
  // display: flex;
  .section-content {
    width: 1270px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  dd {
    margin-left: 0;
  }
  .banner {
    min-width: 1260px;
    width: 100%;
    height: 420px;
    position: relative;
    margin-bottom: 35px;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1;
    .el-carousel__container {
      height: 420px !important;
    }
    .banner-fun {
      box-sizing: border-box;
      position: absolute;
      bottom: -34px;
      height: 68px;
      width: 1260px;
      background: #fff;
      margin-left: -630px;
      left: 50%;
      right: 50%;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 11;
      .total {
        line-height: 68px;
        float: left;
        span {
          margin-right: 90px;
          i {
            font-style: normal;
            color: #4197F4;
            padding: 0 5px;
          }
        }
        img {
          display: inline-block;
        }
        #resource_count {
          display: inline-block;
        }
      }
      .input-patch {
        width: 40%;
        margin-top: 17px;
        float: right;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        display: table;
        input {
          display: block;
          width: 100%;
          padding: 8px 12px;
          font-size: 14px;
          color: #555;
          border: 1px solid #ccc;
        }
        .input-group-btn {
          position: relative;
          font-size: 0;
          white-space: nowrap;
          width: 1%;
          white-space: nowrap;
          vertical-align: middle;
          display: table-cell;
        }
        button {
          background: #4197F4;
          width: 100px;
          color: #fff !important;
          position: relative;
          display: inline-block;
          padding: 8px 0;
          font-size: 14px;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border: none; // border-radius: 4px;
        }
      }
    }
  }
  .main-title{
position: relative;
      margin-bottom: 20px;
      .title{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 5px;
        font-weight: normal;
        margin-bottom: 65px;
        font-size: 26px;
      }
  }
  .main-1 {
    background: #F5F5F5;
    padding-top: 40px;
    .main-title {
      .title {
        
        color: #4197F4;
      }
      .opacity-title {
        opacity: 0.05;
        font-family: PingFangSC-Medium;
        font-size: 44px;
        color: #475065;
        line-height: 48px;
        font-weight: normal;
        text-align: center;
      }
    }
    .content {
      background: #FFFFFF; // border: 1px solid #DFDFDF;
      height: 385px;
      .left {
        padding-left: 0;
        padding-right: 0;
        height: 385px;
        position: relative;
        .img-list {
          position: relative;
          .img-info {
            position: absolute;
            bottom: 3px;
            width: 100%;
            height: 40px;
            background: rgba(0, 0, 0, 0.30);
            line-height: 40px;
            color: #fff;
            padding-left: 20px;
          }
        }
        .des_title {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 90px;
          height: 385px;
          z-index: 111;
        }
      }
      .right {
        margin: 24px;
        .r-body {
          position: relative;
          .more {
            color: #333;
            position: absolute;
            right: 0;
            top: 0;
            &:hover {
              color: $main-blue;
            }
          }
        }
        .list-group {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            line-height: 41px;
            font-size: 16px;
            >span {
              @include pull-right;
            }
            a {
              width: 70%;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
              color: #333;
              &:hover {
                text-decoration: underline;
                color: $main-blue;
              }
            }
          }
        }
      }
    }
  }
  .main-2 {
    background: $white;
    box-sizing: border-box;
    .active {
      background: #4197F4;
      color: #fff;
      border: none;
    }
    .tab-body {
      text-align: center;
      .img-group {
        box-sizing: border-box;
        width: 140px;
        height: 140px;
        border: 1px solid #DFDFDF;
        padding-top: 27px;
        display: inline-block;
        margin: 0 20px;
        margin-top: 20px;
        a {
          text-decoration: none;
          color: #333;
          &:hover {
            text-decoration: underline;
            color: $main-blue;
          }
          dd {
            width: 90%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .des {
          font-size: 16px;
          margin-top: 15px;
          margin-left: 0;
        }
        img {
          display: inline-block;
          width: 42px;
          height: 42px;
        }
      }
    }
  }
  .main-3 {
    background: $main-blue;
    .main-title {
      .title {
        
        color: $white;
      }
      .opacity-title {
        opacity: 0.05;
        font-family: PingFangSC-Medium;
        font-size: 44px;
        color: #475065;
        line-height: 48px;
        font-weight: normal;
        text-align: center;
      }
    }
    .content {
      .img-group {
        width: 300px;
        height: 358px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        text-align: center;
        color: #fff;
        padding-top: 40px;
        position: relative;
        box-sizing: border-box;
        &:hover {
          border-color: $white;
          .more {
            background: rgba(255, 255, 255, 0.15);
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            cursor: pointer;
          }
        }
        .des-title {
          font-size: 18px;
          margin: 20px 0 32px 0;
        }
        .more {
          position: absolute;
          right: 0;
          bottom: 0px;
          text-decoration: underline;
          color: #fff;
          padding: 4px 8px;
        }
        dd {
          padding: 0 25px;
          ul {
            // margin: 0 70px;
            text-align: left;
            li {
              width: 100%;
              line-height: 20px;
              &:hover .name {
                text-decoration: underline;
                opacity: 0.7;
              }
              .dep {
                // text-align: right;
                float: right;
                color: #ddd;
              }
              p {
                width: 40%;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
              }
              .name{
                 color: $white;
                  cursor: pointer;
              }
            }
          }
        }
        dt img {
          width: 100px; // height: 114px;
        }
      }
    }
  }
  .main-4 {
    background: $white;
    .main-title {
      .title {
       
        color: #4197F4;
      }
      .opacity-title {
        opacity: 0.05;
        font-family: PingFangSC-Medium;
        font-size: 44px;
        color: #475065;
        line-height: 48px;
        font-weight: normal;
        text-align: center;
      }
      .ico {
        position: absolute;
        width: 80px; // height: 109px;
        top: -30px;
      }
      .map-more {
        position: absolute;
        right: 20px;
        bottom: 0;
        padding: 4px 7px;
        background: #4197F4;
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .content {
      padding-bottom: 40px;
      margin: 0 50px;
      a {
        display: inline-block;
        margin: 0 35px;
        img {
          width: 160px; // height: 283px;
        }
      }
    }
    .tool-content {
      text-align: center;
      margin: 0 50px;
      .img-group {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 1px solid #DFDFDF;
        padding-top: 50px;
        display: inline-block;
        margin: 0 20px;
        box-sizing: border-box;
        img {
          width: 44px; // height: 64px;
          display: inline-block;
        }
        &:hover {
          border-color: #4197F4;
          img {
            transform: scale(1.2);
          }
        }
        .des {
          margin-top: 20px;
          font-size: 16px;
        }
        a {
          text-decoration: none;
          color: #333;
          &:hover {
            text-decoration: underline;
            color: $main-blue;
          }
        }
      }
    }
    .ico-right {
      text-align: right;
      .in-block {
        width: 80px;
      }
    }
  }
}