<main id="dashboard">
  <!-- banner start -->
  <div class="banner">
    <template>
      <el-carousel :interval="5000" arrow="always">
        <el-carousel-item>
          <a href="javascript:void(0)">
            <img src="../assets/dashboard/banner3.png" alt="" height="420" width="100%">
          </a>
        </el-carousel-item>
        <el-carousel-item>
          <a href="javascript:void(0)">
            <img src="../assets/dashboard/banner.png" alt="" height="420" width="100%">
          </a>
        </el-carousel-item>
        <el-carousel-item>
          <a href="javascript:void(0)">
            <img src="../assets/dashboard/banner2.png" alt="" height="420" width="100%">
          </a>
        </el-carousel-item>
      </el-carousel>
    </template>
    <div class="banner-fun">
      <div class="pull-left total">
        <img src="../assets/dashboard/total.png" width="16" height="16" />&nbsp
        <div id="resource_count">
          <span>资源总数:<i id="resourceCount">{{countDataShare.directoryCount}}</i></span>
          <span>本周新增:<i id="thisWeekAddCount">{{countDataShare.thisWeekAddCount}}</i></span>
          <span>访问总数:<i id="serviceCallCount">{{countDataShare.serviceCallCount}}</i></span>
        </div>
      </div>
      <div class="input-patch">
        <input @keyup.enter="keydownLogin($event)" type="text" v-model="keywords" class="form-control" placeholder="请输入数据目录/应用/工具名称关键词">
        <span class="input-group-btn">
          <button @click="searchKeywords()" class="btn btn-default" type="button">搜索</button>
        </span>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- 最新政策 start -->
  <section class="main-1">
    <div class="section-content">
      <div class="main-title">
        <h4 class="title">
          最新政策
        </h4>
        <h2 class="opacity-title">
          Latest policy
        </h2>
      </div>
      <div class="content">
        <el-row>
          <el-col :span="12">
            <div class="left">
              <template>
                <el-carousel :interval="5000" arrow="always">
                  <el-carousel-item v-for="picNew in carouselPicNews" :key="picNew.id">
                    <a class="img-list" href="javascript:void(0)" @click="getCarouselDetail(picNew)">
                      <img v-bind:src="picNew.picUrl" alt="新闻图" height="385" width="100%">
                       <div class="img-info " ><span class="over_space" style="width: 50%;display: inline-block" v-bind:title="picNew.title">{{picNew.title}}</span></div>
                    </a>
                  </el-carousel-item>
                </el-carousel>
              </template>
              <img class="des_title" src="../assets/dashboard/main1-bg.png" alt="" />
            </div>
          </el-col>
          <el-col :span="12">
            <div class="right">
              <div class="r-body">
                <template>
                  <el-tabs v-model="activeName" type="card" @tab-click="Latestpolicies(activeName)">
                    <el-tab-pane name="G">
                      <a slot="label">国家</a>
                      <ul class="list-group">
                        <li v-for="item in latestpolicies_G">
                          <router-link :to="'interaction/policyDetail/'+item.id">
                            <span v-bind:title="item.title">{{item.title}}</span>
                          </router-link>
                          <span>{{item.create_time}}</span>
                        </li>
                      </ul>
                    </el-tab-pane>
                    <el-tab-pane name="S">
                      <a slot="label">省级</a>
                      <ul class="list-group">
                        <li v-for="item in latestpolicies_S">
                          <router-link :to="'interaction/policyDetail/'+item.id">
                            <span v-bind:title="item.title">{{item.title}}</span>
                          </router-link>
                          <span>{{item.create_time}}</span>
                        </li>
                      </ul>
                    </el-tab-pane>
                    <el-tab-pane name="C">
                      <a slot="label">市级</a>
                      <ul class="list-group">
                        <li v-for="item in latestpolicies_C">
                          <router-link :to="'interaction/policyDetail/'+item.id">
                            <span v-bind:title="item.title">{{item.title}}</span>
                          </router-link>
                          <span>{{item.create_time}}</span>
                        </li>
                      </ul>
                    </el-tab-pane>
                  </el-tabs>
                </template>
                <router-link :to="{ path: '/layout/interaction/hotMessage?id=policy' }">
                  <span class="more">更多></span>
                </router-link>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </section>
  <!-- 最新政策 end -->
  <!-- 目录  start -->
  <section class="main-2">
    <div class="section-content">
      <div class="el-tabs__nav-wrap">
        <ul class="el-tabs__nav" style="width:100%">
          <li class="el-tabs__item" :class="{ active: (current_active === dirItem.name) }" v-for="dirItem in dirFirstName" @click="clickMenu(dirItem)">
            <a>{{dirItem.name}}</a>
          </li>
        </ul>
      </div>
      <div class="tab-body">
        <div class="img-group" v-for="item in depAllDeptInfoAA">
          <el-tooltip placement="bottom" effect="light">
            <ul slot="content" >
              <li v-for="(itemChild,index) in item.children " v-if="index<3">{{itemChild.name}}</li>
              <li v-if="item.children.length>3">...</li>
               <li v-if="item.children.length == 0">无子集</li>
            </ul>
            <dl class="base-item0">
              <router-link :to="{ path: '/layout/catalog/resources', query: {dirName:item.name,dirCode:item.code}}">
                <dt v-if="item.icon"><img v-bind:src="item.icon" alt="图片" /></dt>
                <dt v-if="item.icon == null"><img src="../assets/dashboard/defaultClassify.png" alt="图片" /></dt>
                <dd class="des">{{item.name}}</dd>
              </router-link>
            </dl>
          </el-tooltip>
        </div>
        <dl v-show="showMorecatalog" class="img-group dep-item3">
          <router-link :to="{ path: '/layout/catalog/statistic', query: {dirName:parentName,id:parentId}}">
            <dt><img src="../assets/dashboard/more.png" /></dt>
            <dd class="des">更多</dd>
          </router-link>
        </dl>
      </div>
    </div>
  </section>
  <!-- 目录    end -->
  <!-- 最新动态 start -->
  <section class="main-3">
    <div class="section-content">
      <div class="main-title">
        <h4 class="title">
          最新动态
        </h4>
        <h2 class="opacity-title">
          Data dynamics
        </h2>
      </div>
      <div class="content">
        <el-row>
          <el-col :span="6">
            <dl class="img-group">
              <dt class="in-block">
                <router-link :to="{ path: '/layout/interaction/hotMessage?id=latestCatalog' }">
                  <img src="../assets/dashboard/data1.png" />
                </router-link>
              </dt>
              <dd class="des-title">最新目录</dd>
              <dd class="list-group">
                <ul id="LatestDirectory">
                  <li v-for="item in latestDirectory" @click="jumpDetailLatestCatalog(item)">
                    <p href="" v-bind:title="item.dataset_name">{{item.dataset_name}}</p>
                  </li>
                </ul>
              </dd>
              <router-link :to="{ path: '/layout/interaction/hotMessage?id=latestCatalog' }">
                <span class="more">更多></span>
              </router-link>
            </dl>
          </el-col>
          <el-col :span="6">
            <dl class="img-group">
              <dt class="in-block">
                <router-link :to="{ path: '/layout/interaction/hotMessage?id=hottestCatalog' }">
                  <img src="../assets/dashboard/data2.png" />
                </router-link>
              </dt>
              <dd class="des-title">最热目录</dd>
              <dd class="list-group">
                <ul id="HottestDirectory">
                  <li v-for="item in listHottestDirectory" @click="jumpDetailLatestCatalog(item)">
                    <p v-bind:title="item.dataset_name">{{item.dataset_name}}</p>
                  </li>
                </ul>
              </dd>
              <router-link :to="{ path: '/layout/interaction/hotMessage?id=hottestCatalog' }">
                <span class="more">更多></span>
              </router-link>
            </dl>
          </el-col>
          <el-col :span="6">
            <dl class="img-group">
              <dt class="in-block">
                <router-link :to="{ path: '/layout/interaction/hotMessage?id=latestResources' }">
                  <img src="../assets/dashboard/data3.png" />
                </router-link>
              </dt>
              <dd class="des-title">最新资源</dd>
              <dd class="list-group">
                <ul id="newResource">
                  <li v-for="item in listLatestDbResource" @click="jumpDetailResource(item)">
                    <p v-show="item.TABLE_CN_NAME" v-bind:title="item.TABLE_CN_NAME">{{item.TABLE_CN_NAME}}</p>
                    <p v-show="!item.TABLE_CN_NAME" v-bind:title="item.TABLE_NAME">{{item.TABLE_NAME}}</p>
                  </li>
                </ul>
              </dd>
              <router-link :to="{ path: '/layout/interaction/hotMessage?id=latestResources' }">
                <span class="more">更多></span>
              </router-link>
            </dl>
          </el-col>
          <el-col :span="6">
            <dl class="img-group">
              <dt class="in-block">
                <router-link :to="{ path: '/layout/interaction/hotMessage?id=hottestPolicy' }">
                  <img src="../assets/dashboard/data4.png" />
                </router-link>
              </dt>
              <dd class="des-title">最热资源</dd>
              <dd class="list-group">
                <ul id="hotResource">
                  <li v-for="item in listHottestResource" @click="jumpDetailResource(item)">
                    <p v-bind:title="item.TABLE_NAME">{{item.TABLE_NAME}}</p>
                  </li>
                </ul>
              </dd>
              <router-link :to="{ path: '/layout/interaction/hotMessage?id=hottestPolicy' }">
                <span class="more">更多></span>
              </router-link>
            </dl>
          </el-col>
        </el-row>
      </div>
    </div>
  </section>
  <!-- 最新动态 end -->
  <!-- 数据图谱 start -->
  <section class="main-4">
    <div class="section-content">
      <div class="main-title">
        <h4 class="title">
          数据图谱
        </h4>
        <h2 class="opacity-title">
          Visualization map
        </h2>
        <img class="ico" src="../assets/dashboard/ico1.png" />
        <a href="http://10.190.239.12:8080/data-view-web-scatter/index.html" target="_blank" class="map-more">更多></a>
      </div>
      <div class="content">
        <a class="m-l-0" href="http://10.190.239.12:8080/data-view-web-scatter/index.html" target="_blank">
        <img src="../assets/dashboard/map1.png" /></a>
        <a href="http://10.190.239.12:8080/data-view-web-scatter/pages/page_2/page.html" target="_blank"><img src="../assets/dashboard/map2.png" /></a>
        <a href="http://10.190.239.12:8080/data-view-web-scatter/pages/page_3/page.html" target="_blank"> <img src="../assets/dashboard/map3.png" /></a>
        <a href="http://10.190.239.12:8080/data-view-web-scatter/pages/page_4/page.html" target="_blank"><img src="../assets/dashboard/map4.png" /></a>
        <a href="http://10.190.239.12:8080/data-view-web-scatter/pages/page_5/page.html" target="_blank" class="m-r-0"> <img src="../assets/dashboard/map5.png" /></a>
      </div>
      <section>
        <div class="main-title">
          <h4 class="title">
            工具
          </h4>
          <h2 class="opacity-title">
            Tool
          </h2>
          <router-link :to="{ path: '/layout/developer' }" class="map-more" target="_blank">更多>
          </router-link>
        </div>
        <div class="tool-content">
          <dl class="img-group m-l-0">
            <a href="/jp:hk_datacombing" target="_blank">
              <dt class="in-block"><img src="../assets/dashboard/tool1.png" /></dt>
              <dd class="des">资源梳理</dd>
            </a>
          </dl>
          <dl class="img-group">
            <a href="/jp:hk_rz/main.xhtml?cid=199" target="_blank">
              <dt class="in-block"><img src="../assets/dashboard/tool2.png" /></dt>
              <dd class="des">政务数据采集</dd>
            </a>
          </dl>
          <dl class="img-group">
            <a href="/jp:hk_rz/main.xhtml?cid=199" target="_blank">
              <dt class="in-block"><img src="../assets/dashboard/tool3.png" /></dt>
              <dd class="des">元数据管理</dd>
            </a>
          </dl>
          <dl class="img-group">
            <a href="/jp:hk_rz/main.xhtml?cid=199" target="_blank">
              <dt class="in-block"><img src="../assets/dashboard/tool4.png" /></dt>
              <dd class="des">主题分析</dd>
            </a>
          </dl>
          <dl class="img-group m-r-0">
            <a href="/jp:hk_shareservice" target="_blank">
              <dt class="in-block"><img src="../assets/dashboard/tool5.png" /></dt>
              <dd class="des">服务封装</dd>
            </a>
          </dl>
        </div>
        <div class="ico-right">
          <img class="in-block" src="../assets/dashboard/ico2.png" width="118" height="109" />
        </div>
      </section>
    </div>
  </section>
  <!-- 数据图谱 end -->

  <!-- 新闻详情模态框 start -->
  <el-dialog :visible.sync="dialogNewVisible">
    <div class="article">
       <h3 class="title over_space" style="width: 100%" v-bind:title="carouselDetail.title">{{carouselDetail.title}}</h3>
      <div class="item_des">
        <span>时间：<em  class="source">{{carouselDetail.create_time}}</em></span>
      </div>
      <div class="policy_content" v-html="carouselDetail.news_content"></div>
    </div>
  </el-dialog>

  <!-- 新闻详情模态框 end -->
</main>
