@import "../common/base.scss";
#search-page {
  width: 1270px;
  margin: 15px auto;
  .left {
    margin-right: 15px;
    background: $white;
    position: relative;
    .list-group {
      cursor: pointer;
      &:hover .title>span {
        color: $main-blue;
        text-decoration: underline;
      }
    }
    .search {
      position: absolute;
      top: 3px;
      right: 15px;
      width: 30%;
      .el-input-group__append,
      .el-input-group__prepend {
        background-color: $main-blue;
      }
      .el-button {
        color: $white;
      }
    }
    .page {
      text-align: right;
      padding: 30px 15px;
    }
    .list-group {
      padding: 15px;
      border-bottom: 1px solid $extra-light-gray;
      ul {
        li {
          line-height: 1.8em;
          color: $extra-light-black;
          span {
            margin-right: 60px;
          }
        }
      }
      .title {
        margin-bottom: 5px;
        .rate {
          float: right;
          .over_space {
            display: inline-block;
          }
        }
      }
    }
  }
  .right {
    .more-list {
      background: $white;
      margin-bottom: 15px;
      .title {
        padding: 0 15px;
        font-size: 16px;
        border-bottom: 1px solid $extra-light-gray;
        height: 42px;
        line-height: 42px;
  
        span {
          float: right;
          font-size: 14px;
          color: #333;
          &:hover{
            color:$main-blue;
            text-decoration: underline;
          }
        }
      }
      ul {
        padding: 15px;
        li {
          line-height: 1.8em;
          cursor: pointer;
          >span {
            @include pull-right;
          }
          a {
            width: 70%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            color: #333;
            &:hover {
              text-decoration: underline;
              color: $main-blue;
            }
          }
        }
      }
    }
  }
}