<main id="search-page">
  <el-row>
    <el-col :span="18">
      <div class="left">
        <template>
          <el-tabs v-model="activeName" @tab-click="handleClick(activeName)">
            <el-tab-pane name="catalog">
              <a slot="label">数据目录</a>
              <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                  <div class="rate">
                    <span>评分：</span>
                    <div class="over_space">
                      <el-rate disabled text-color="#ff9900">
                      </el-rate>
                    </div>
                  </div>
                </div>
                <ul>
                  <li>
                    <span>更新时间：</span>
                    <span>查看：</span>
                    <span>下载： 次</span>
                    <span>接口：个</span>
                  </li>
                  <li>
                    <span>共享类型：</span>
                    <span>开放类型：</span>
                    <span>有关部门：</span>
                  </li>
                  <li>信息资源摘要：</li>
                </ul>
              </div>
              <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                  <div class="rate">
                    <span>评分：</span>
                    <div class="over_space">
                      <el-rate disabled text-color="#ff9900">
                      </el-rate>
                    </div>
                  </div>
                </div>
                <ul>
                  <li>
                    <span>更新时间：</span>
                    <span>查看：</span>
                    <span>下载： 次</span>
                    <span>接口：个</span>
                  </li>
                  <li>
                    <span>共享类型：</span>
                    <span>开放类型：</span>
                    <span>有关部门：</span>
                  </li>
                  <li>信息资源摘要：</li>
                </ul>
              </div>
            </el-tab-pane>
            <el-tab-pane name="subject">
              <a slot="label">专题应用</a>
              <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：</span>
                    <span>应用类型：</span>
                    <span>访问次数： 次</span>
                  </li>
                  
                </ul>
              </div>
              <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：</span>
                    <span>应用类型：</span>
                    <span>访问次数： 次</span>
                  </li>
                  
                </ul>
              </div>
            </el-tab-pane>
            <el-tab-pane name="developer">
              <a slot="label">开发者工具</a>
               <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：</span>
                    <span>工具类型：</span>
                    <span>访问次数： 次</span>
                  </li>
                  
                </ul>
              </div>
               <div class="list-group">
                <div class="title">
                  <span>田径裁判员、教练员的人员信息</span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：</span>
                    <span>工具类型：</span>
                    <span>访问次数： 次</span>
                  </li>
                  
                </ul>
              </div>
            </el-tab-pane>
          </el-tabs>
        </template>
        <div class="search">
          <el-input placeholder="请输入数据目录/应用/工具名称关键词" v-model="keywords">
            <el-button slot="append" icon="search" @click="searchKeywords">搜索</el-button>
          </el-input>
        </div>
      </div>
    </el-col>
    <el-col :span="6">
      <div class="right">
        <div class="more-list">
          <div class="title">最新数据目录<span>更多</span></div>
          <ul>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总成都市经济运行总体情况报告成都市经济运行总体情况报告体情况报告</span></a><span>566515</span>
            </li>
          </ul>
        </div>
        <div class="more-list">
          <div class="title">热门数据目录<span>更多</span></div>
          <ul>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总成都市经济运行总体情况报告成都市经济运行总体情况报告体情况报告</span></a><span>566515</span>
            </li>
          </ul>
        </div>
        <div class="more-list">
          <div class="title">热门应用<span>更多</span></div>
          <ul>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总体情况报告</span></a><span>566515</span>
            </li>
            <li>
              <a><span>成都市经济运行总成都市经济运行总体情况报告成都市经济运行总体情况报告体情况报告</span></a><span>566515</span>
            </li>
          </ul>
        </div>
      </div>
    </el-col>
  </el-row>
</main>
