<main id="search-page">
  <el-row>
    <el-col :span="18">
      <div class="left">
        <template>
          <el-tabs v-model="activeName" @tab-click="handleClick(activeName)">
            <el-tab-pane name="catalog">
              <a slot="label">数据目录</a>
              <div v-loading="loading1" element-loading-text="数据加载中">
              <div class="list-group" v-for="item in catalogData" @click="jumpDetailLatestCatalog(item)">
                <div class="title">
                  <span v-html="titlehtml(item.dataset_name)"></span>
                  <div class="rate">
                    <span>评分：</span>
                    <div class="over_space">
                      <el-rate v-model="item.rate_score" disabled text-color="#ff9900">
                      </el-rate>
                    </div>
                  </div>
                </div>
                <ul>
                  <li>
                    <span>更新时间：{{item.update_time}}</span>
                    <span>查看：{{item.visit_count}}</span>
                    <span>下载： 次</span>
                    <span>接口：{{item.interface_count}}个</span>
                  </li>
                  <li>
                    <span>共享类型：{{item.share_dict_name}}</span>
                    <span>开放类型：{{item.isopen_dict_name}}</span>
                    <span>有关部门：{{item.dept_name}}</span>
                  </li>
                  <li>信息资源摘要：{{item.dataset_desc}}</li>
                </ul>
              </div>
              <div v-if="catalogData.length == 0" class="empty">暂无数据</div>
              <div class="page">
                <el-pagination @current-change="handlePageChangeCatalog" layout="total, prev, pager, next, jumper" :total="totalR">
                </el-pagination>
              </div>
              </div>
            </el-tab-pane>
            <el-tab-pane name="subject">
              <a slot="label">专题应用</a>
               <div v-loading="loading2" element-loading-text="数据加载中">
              <div class="list-group" v-for="item in subjectData">
                 <router-link :to="{path:'/layout/subject',query:{current_item:item}}">
                <div class="title">
                  <span v-html="titlehtml(item.name)"></span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：{{item.creatTime}}</span>
                    <span>应用类型：{{item.appCategoryName}}</span>
                    <span>访问次数：{{item.visitCount}} 次</span>
                  </li>

                </ul>
                 </router-link>
              </div>
                 <div v-if="subjectData.length == 0" class="empty">暂无数据</div>
              <div class="page">
                <el-pagination @current-change="handlePageChangeSubject" layout="total, prev, pager, next, jumper" :total="totalR">
                </el-pagination>
              </div>
               </div>
            </el-tab-pane>
            <el-tab-pane name="developer">
              <a slot="label">开发者工具</a>
               <div v-loading="loading3" element-loading-text="数据加载中">
              <div class="list-group" v-for="item in developerData" >
                <router-link :to="{path:'/layout/developer',query:{current_item:item}}">
                <div class="title">
                  <span v-html="titlehtml(item.api_name)"></span>
                </div>
                <ul>
                  <li>
                    <span>创建时间：{{item.create_time}}</span>
                    <span>工具类型：{{item.api_category}}</span>
                    <span>访问次数：{{item.visit_count}} 次</span>
                  </li>
                </ul>
                </router-link>
              </div>
               <div v-if="developerData.length == 0" class="empty">暂无数据</div>
              <div class="page">
                <el-pagination @current-change="handlePageChangeDeveloper" layout="total, prev, pager, next, jumper" :total="totalR">
                </el-pagination>
              </div>
               </div>
            </el-tab-pane>
          </el-tabs>
        </template>
        <div class="search" @keyup.enter="keydownLogin($event)">
          <el-input placeholder="请输入数据目录/应用/工具名称关键词" v-model="keywords">
            <el-button slot="append" icon="search" @click="searchKeywords">搜索</el-button>
          </el-input>
        </div>
      </div>
    </el-col>
    <el-col :span="6">
      <div class="right">
        <div class="more-list">
          <div class="title">最新数据目录
            <router-link :to="{ path: '/layout/interaction/hotMessage?id=latestCatalog' }"><span>更多</span></router-link>
          </div>
          <ul>
            <li v-for="item in latestDirectory">
              <a @click="jumpDetailLatestCatalog(item)"><span v-bind:title="item.dataset_name">{{item.dataset_name}}</span></a><span>{{item.create_time | formatDate}}</span>
            </li>
          </ul>
        </div>
        <div class="more-list">
          <div class="title">热门数据目录
            <router-link :to="{ path: '/layout/interaction/hotMessage?id=hottestCatalog' }"><span>更多</span></router-link>
          </div>
          <ul>
            <li v-for="item in listHottestDirectory">
              <a @click="jumpDetailHotestCatalog(item)"><span v-bind:title="item.classify_name">{{item.classify_name}}</span></a><span>{{item.count}}</span>
            </li>
          </ul>
        </div>
        <div class="more-list">
          <div class="title">热门应用
            <router-link :to="{ path: '/layout/subject' }"><span> 更多</span></router-link>
          </div>
          <ul>
            <li v-for="(item,index) in hotAppsByDept" v-if="index<5">
               <router-link :to="{path:'/layout/subject',query:{current_item:item}}"><span v-bind:title="item.name">{{item.name}}</span></router-link><span>{{item.visitCount}}</span>
            </li>
          </ul>
        </div>
      </div>
    </el-col>
  </el-row>
</main>
