<main id="require-survey">
  <p class="title_des">应用需求反馈</p>
  <div :style="showStyle">
    <el-form :model="ruleForm" :rules="rules2" ref="ruleForm" label-width="110px" class="demo-ruleForm">
      <el-row>
        <el-col :span="16" :offset="1">
          <el-form-item label="需求名称" prop="title" label-suffix="sfdfsd">
            <el-input v-model="ruleForm.title"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="16" :offset="1">
          <!-- 部门单选 -->
          <el-form-item label="需求详情" label-suffix="sfdfsd" style="margin-bottom:0px;">
            <el-row>
              <el-col :span="23" :offset="1">
                <el-form-item label="需求类型" prop="requirementType" label-suffix="sfdfsd">
                  <el-select v-model="ruleForm.requirementType" placeholder="请选择" @change="validaterequirement(ruleForm.requirementType)">
                    <el-option label="接口" value="interface"></el-option>
                    <el-option label="资源" value="resource"></el-option>
                    <el-option label="手填" value="handfilled"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="23" :offset="1">
                <el-form-item label="部门" prop="depId" label-suffix="sfdfsd">
                  <el-dropdown trigger="click" style="width:100%">
                    <span class="el-dropdown-link"  v-bind:title="depName">
                <input type="text" v-model="depName" class="el-input__inner" @click="PdepData()">
                 </span>
                    <el-dropdown-menu slot="dropdown" style="min-width:300px;max-height:300px;overflow: auto">
                      <el-tree :data="depData" :props="props" :render-content="renderContent"  :load="loadNode" lazy accordion @node-click="handleNodeClick" highlight-current></el-tree>
                    </el-dropdown-menu>
                  </el-dropdown>
                </el-form-item>
                <!-- 部门单选 -->

<!-- 部门可多选 -->
                <!-- <el-form-item label="部门" prop="depId" label-suffix="sfdfsd">
                  <el-dropdown trigger="click" style="width:100%">
                    <span class="el-dropdown-link">
                      <div class="el-select">
                        <div class="el-select__tags " style="max-width: 279.656px;">
                            <p style="display:block" class="el-tag el-tag--primary" v-for='item in depName'>
                              <span class="el-select__tags-text">{{item}}</span>
                    </p>
  </div>
  <input id="dep_inp"  class="el-input__inner" readonly="readonly" icon="caret-top" type="text" rows="2">
  </div>
  </span>
  <el-dropdown-menu slot="dropdown">
    <div class="tree" style="min-width:300px;max-height:300px;overflow: auto">
      <el-tree node-key="id" check-strictly  show-checkbox :data="depData" :props="props" :load="loadNode" lazy accordion highlight-current ref="tree"></el-tree>
    </div>
    <div class="depBtn"><el-button  type="primary" @click="getCheckedNodes">确定</el-button></div>
  </el-dropdown-menu>
  </el-dropdown>
  </el-form-item> -->
<!-- 部门可多选 -->
  </el-col>
  </el-row>
  <el-row v-if="resourceSwitch">
    <el-col :span="23" :offset="1">
      <el-form-item label="资源名称" prop="resourceId" label-suffix="sfdfsd">
        <el-select value-key="id" v-model="ruleForm.resourceId" multiple placeholder="请选择"  :loading="loading" @visible-change="visibleChange">
          <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item">
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>
  <el-row v-if="!resourceSwitch">
    <el-col :span="23" :offset="1">
      <el-form-item label="资源名称" prop="resourceName" label-suffix="sfdfsd">
        <el-input type="textarea" v-model="ruleForm.resourceName"></el-input>
      </el-form-item>
    </el-col>
  </el-row>
  </el-form-item>
  </el-col>
  </el-row>
   <el-row>
    <el-col :span="16" :offset="1">
      <el-form-item label="需求描述" prop="content">
        <el-input type="textarea" v-model="ruleForm.content"></el-input>
      </el-form-item>
    </el-col>
  </el-row> 
  <el-row>
    <el-col :span="16" :offset="1">
      <el-form-item label="个人资料" label-suffix="sfdfsd">
        <!-- <el-input v-model="ruleForm.title"></el-input> -->
        <el-row>
          <el-col :span="12">
            <el-form-item label="姓名" label-suffix="sfdfsd" label-width="70px">
              <el-input v-bind:title="initForm.name" v-model="initForm.name" type="text" class="form-control read" readonly="readonly"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="单位" label-suffix="sfdfsd" label-width="70px">
              <el-input v-bind:title="initForm.unit" v-model="initForm.unit" type="text" class="form-control read" readonly="readonly"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form-item>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="14" :offset="1">
      <el-form-item>
        <el-button type="primary" :disabled="disable" @click="submitForm('ruleForm')">提交</el-button>
      </el-form-item>
    </el-col>
  </el-row>
  </el-form>
  </div>
  <el-login v-if="showDialogComponent"></el-login>
</main>
