@import "../common/base.scss";

#subject {
  min-height: 720px;

  * {
    box-sizing: border-box;
  }

  .section-content {
    width: 1270px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
  }

  .el-tab-pane{
    .lstDl{
      // padding-bottom: 15px;
      &:last-child{
      border-bottom: 2px solid #4197F4;
      a.textaDep{

        cursor: pointer;
      }
      a.add{
        /*color: #4197F4;*/
        &:hover{
         color: #4197F4;
        }
      }
    }
    }
    dt.ui-link{
      padding-left: 14px;
      width: 140px;
      font-size: 16px;
      font-weight: normal;
      color: #3D4557;
    }
    dd{
      position: relative;
      left: 140px;
      top: -18px;
      span{
        margin-bottom: 5px;
        display: inline-block;
      }
      span.active{
        color: #4197F4;

      }
      a.texta{
        margin-left: 12px;
        margin-right: 24px;
        font-size: 14px;
        text-decoration: none;
        width: 203px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        &:hover{
          color: #4197F4;
        }
      }
      a.textaDep{

        margin-left: 12px;
        margin-right: 24px;
        font-size: 14px;
        text-decoration: none;
      }

    }
  }
  .div_dep{
    border: 1px solid #dfdfdf;
    border-top: none;
    a.active{
      background: #4197F4;
      color: $white;
    }
    a{
      float: none;
      height: 50px;
      min-width: 130px;
      line-height: 50px;
      margin: 5px 3px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      color: #000;
      &:hover{
        background: #4197F4;
        color: $white;
      }
    }

  }
  .el-tabs__active-bar {
    display: none;
  }

  .el-tabs__header {
    width: 290px;
    float: left;
    background: #fff;
    padding-left: 0;
    margin: 0;
  }

  .el-tabs__content {
    width: 75%;
    float: left;
    padding: 10px 20px 20px 20px;
    background: #fff;
  }

  .el-tabs__nav {
    display: block;
    float: none;
  }

  .el-tabs__item {
    position: relative;
    display: block;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(51, 51, 51);
    list-style: none;
    padding-left: 20px;

    &.is-active {
      color: $white;
      background: $main-blue;
    }

    &:before {
      content: "\f022";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      padding-right: 15px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  }
  .tool-details{
    h3{
      padding:15px ;
    }
    .logo{
      width: 75px;
    }
  }
  .info-item{
    padding:10px 0;
    label{
      font-weight:bold;
    }
  }
  .item-link{
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    cursor: pointer;
    text-decoration: none;
  }
  .tool-ico{
    text-align:center;
  }



}
