@import "../../../common/base.scss";
#apply-list {
  width: 100%;
  .hd {
    // height: 40px;
    // line-height: 40px;
    overflow: hidden;
    padding: 10px 15px;
    background: $hd-blue;
    color: $white;
    .hd-title{
      @include pull-left;
    }
    .hd-total{
      @include pull-right;
      em{
        font-style: normal;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  	table {
		width: 100% !important;
		background: #FFF;
		border-collapse: collapse;
		table-layout: fixed;

		tr>td, tr>th {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: top;
			border-top: 1px solid #ddd;
			border-left: 1px solid #F2F2F2;
			border-right: 1px solid #F2F2F2;
		}

  }
 
  .filter{
    overflow: hidden;
    padding: 15px;
    .select{
      @include pull-right;
      margin-right: 15px;
    }
    .search{
       @include pull-right;
      width: 30%;
    }
  }
  .page{
    text-align: right;
    padding: 30px 15px;
  }
}